{% extends "base.html" %}

{% block body %}

<div class="hero-unit">
  <h2>Airduino</h2>
  <p>Send your flight numbers to <a href="mailto:flights@airduino.appspotmail.com">flights@airduino.appspotmail.com</a>.</p>
</div>


<form action="/sms/arduino" class="form-inline">
  <fieldset>
    <legend>Fake SMS to Arduino</legend>
    <label class="checkbox">
      <input name="on" type="checkbox">On
    </label>
    <button type="submit" class="btn">Send</button>
  </fieldset>
</form>

<form action="/sms/appengine" class="form-inline">
  <fieldset>
    <legend>Fake SMS Flight Code to AppEngine</legend>
    <input name="flight" class="input-small" type="text" placeholder="AF 3672">
    <button type="submit" class="btn">Send</button>
  </fieldset>
</form>

{% endblock %}
